.form-signin .form-floating:focus-within {
    z-index: 2;
}
.form-signin input[type="email"]{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-registration input {
    border-radius: 0;
    margin-bottom: -1px;
}

.box {
    background-image: url(../img/foto1.jpg);
    padding: 200px 100px;
    margin: 100px;

    background-size: cover;
}